@model List<Slider>

@{
    int dataOrder = 0;
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Sliders</h1>
            <a class="btn btn-primary" asp-controller="slider" asp-action="create">Create</a>
        </div>
        <div class="col-md-8">
            <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title1</th>
      <th scope="col">Title2</th>
      <th scope="col">Order</th>
      <th scope="col">ImageName</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
                    @foreach (var item in Model)
                    {
                        dataOrder++;
        <tr>
          <th scope="row">@dataOrder</th>
                <td>@item.Title1</td>
                <td>@item.Title2</td>
                <td>@item.Order</td>
                <td>@item.ImageName</td>
            <td>
                <a class="btn btn-warning" asp-action="edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-danger">Delete</a>
            </td>
        </tr>
                    }
  </tbody>
</table>
        </div>
    </div>
</div>

